version: "3.7"

volumes:
  mumble-server-data:
  mumble-web-data:

services:
  mumble-server:
    image: sudoforge/mumble-server
    container_name: mumble-server
    restart: always
    volumes:
      - mumble-server-data:${MUMBLE_SERVER_DATA_DESTINATION_PATH}
    ports:
      - "64738:64738"
      - "64738:64738/udp"
    environment:
      - MUMBLE_SERVERPASSWORD=safepassword
      - SUPERUSER_PASSWORD=supassword
  mumble-web:
    image: aksw/mumble-web
    container_name: mumble-web
    restart: always
    volumes:
      - mumble-web-data:/pem
    ports:
      - "443:8080"
    environment:
      - MUMBLE_SERVER=mumble-server:64738
      - CERTIFICATE_LOCATION=/pem/fullchain.pem
      - KEY_LOCATION=/pem/privkey.pem
        #command: websockify --cert=$CERTIFICATE_LOCATION --key=$KEY_LOCATION --ssl-target --web=/home/node/dist 8080 "$MUMBLE_SERVER"
