version: "3.7"

volumes:
  mumble-server-data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/${MUMBLE_SERVER_DATA_PATH}
      o: bind
  mumble-web-data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/${MUMBLE_WEB_DATA_PATH}
      o: bind
services:
  mumble-server:
    image: sudoforge/mumble-server
    container_name: mumble-server
    volumes:
      - mumble-server-data:${MUMBLE_SERVER_DATA_DESTINATION_PATH}
    ports:
      - "64738:64738"
      - "64738:64738/udp"
    environment:
      - MUMBLE_SERVERPASSWORD=safepassword
      - SUPERUSER_PASSWORD=supassword
  mumble-web:
    image: aksw/mumble-web
    container_name: mumble-web
    volumes:
      - mumble-web-data:/pem
    ports:
      - "8080:8080"
    environment:
      - MUMBLE_SERVER=mumble-server:64738
      - CERTIFICATE_LOCATION=/pem/self.pem
